#!/bin/sh

PIDFILE=/tmp/transmission-daemon.pid

PATH=/opt/transmission/bin:$PATH
LD_LIBRARY_PATH=/opt/transmission/lib:$LD_LIBRARY_PATH
export PATH LD_LIBRARY_PATH

case "$1" in
  start)
    if test -f $PIDFILE && ps -p $(cat $PIDFILE); then
      echo "[transmission] start: already running. ignored."
    else
      echo "[transmission] start"
      #ulimit -n 999999
      mkdir -p /opt/transmission/var/lib/transmission-daemon/info/
      /opt/transmission/bin/transmission-daemon --config-dir /opt/transmission/var/lib/transmission-daemon/info -f
      echo $! > $PIDFILE
    fi
    ;;
  stop)
    echo "[transmission] stop"
    killall -9 transmission-daemon
    sleep 10
    ;;
  restart)
    "$0" stop
    "$0" start
    ;;
  *)
    echo "Usage: $0 [start|stop|restart]"
    ;;
esac

